/.vs/ggj18/v15/.suo
/.vs/ggj18/v15/Server/sqlite3/db.lock
/.vs/ggj18/v15/Server/sqlite3/storage.ide
/.vs/ggj18/v15/Server/sqlite3/storage.ide-shm
/.vs/ggj18/v15/Server/sqlite3/storage.ide-wal
/ggj18.sln
/ggj18.csproj
